/* Primary layout */
textarea {
	min-height: 200px;
	margin-bottom: 13px;
}
button {
	margin-right: 5px;
	margin-bottom: 420px;
}
.description {
	margin-top: -10px;
	margin-bottom: 13px;
}

/* Sticky footer */
html, body {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
}
main {
	flex: 1 0 auto;
}
footer {
	flex-shrink: 0;
	margin-top: 50px;
	margin-bottom: 0 !important;
}

/* Status message */
#status {
	font-size: 17px;
	opacity: 0;
	transition: opacity 0.6s ease-in;
	color: #ab0e0e;
}
#status.load {
	opacity: 1;
}

/* Disabled form */
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
	cursor: inherit;
}

/* Spinner Animation */
.glyphicon-refresh-animate {
	-animation: spin 1.3s infinite linear;
	-webkit-animation: spin 1.3s infinite linear;
	-moz-animation: spin 1.3s infinite linear;
	-ms-animation: spin 1.3s infinite linear;
}
@keyframes spin {
	from {
		transform: rotate(0deg);
	} to {
		transform: rotate(360deg);
	}
}
